.info {
  .some-info {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .block {
      text-align: left;
      width: 50%;
      height: 240px;
      margin: 20px 0;

      .title {
        height: 64px;

        img {
          float: left;
          padding-top: 6px;
          padding-left: 10px;
          padding-right: 10px;
        }
        div {
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
        }
      }
      .text {
        padding: 10px;
        font-size: 18px;
        line-height: 25px;
      }
    }
  }
}