<header>
    <div class="logo">
        <a href="../index.html">
            <img src="img/logo.png"/>
            <span class="company">Сортамент  инвест</span>
        </a>
    </div>
    <nav>
        <ul>
            <li><a href="/about.html">О компании</a></li>
            <!--<li><a href="#">Ассортимент</a></li>
            <li><a href="#">Контакты</a></li>-->
            <li><a href="/price.html">Прайс-лист</a></li>
        </ul>
    </nav>
    <div class="phones">
        <ul>
            <li><span class="operator">Velcom</span>
                <span class="number">+375 (029) 645-47-07</span></li>
            <li><span class="operator">MTC</span>
                <span class="number">+375 (029) 645-47-07</span></li>
        </ul>
    </div>
</header>