<header>
    <div class="logo">
        <img src="img/logo.png"/>
        <span class="company">Сортамент  инвест</span>
    </div>
    <nav>
        <ul>
            <li><a href="#">О компании</a></li>
            <li><a href="#">Ассортимент</a></li>
            <li><a href="#">Контакты</a></li>
            <li><a href="#">Прайс-лист</a></li>
        </ul>
    </nav>
    <div class="phones">
        <ul>
            <li><span class="operator">Velcom</span>
                <span class="number">+375 (029) 645-47-07</span></li>
            <li><span class="operator">MTC</span>
                <span class="number">+375 (029) 645-47-07</span></li>
        </ul>
    </div>
</header>