section {
  width: 960px;
  margin: 0 auto;
  position: relative;
  box-shadow: 0 9px 0 0 #fff,
  0 -9px 0 0 #fff,
  5px 0 10px -4px rgba(0, 0, 0, .4),
  -5px 0 10px -4px rgba(0, 0, 0, .4);
  background-color: white;
  text-align: center;

  .heading {
    font-size: 48px;
    line-height: 60px;
    font-weight: bold;
    width: 100%;
    padding-top: 125px;
    display: block;
  }
  .delimiter {
    @include delimiter;
  }
  .hint {
    font-family: "PT Sans", serif;
    font-style: italic;
    display: block;
    font-size: 20px;
    line-height: 31px;
    width: 510px;
    margin: 0 auto;
    padding-bottom: 75px;
    color: #828282;
  }
}