@font-face {
  font-family: Geometria; /* Имя шрифта */
  src: url(../../fonts/Geometria.otf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: PT Sans; /* Имя шрифта */
  src: url(../../fonts/PTC55F.ttf); /* Путь к файлу со шрифтом */
}