<section class="about-us">
    <span class="heading">О компании</span>
    <span class="hint">«Сортамент-Инвест» – универсальный поставщик металлопродукции на рынке Республики Беларусь.</span>

    <div class="who-we-are">
        <img src="../../img/settings.png"/>
        <span> Кто мы?</span>
    </div>
    <div class="company-desc">
        <div class="block">
            ЗАО «Сортамент-Инвест» – универсальный поставщик металлопродукции на рынке Республики Беларусь.
            Наша профессиональная, крепкая и надежная команда объединена общими целями и интересами,
            способна работать в любых условиях и находить максимально эффективные и простые решения для каждого клиента.

        </div>
        <div class="block">
            Металлопрокат, предлагаемый нашей компанией,
            соответствуют всем предъявляемым техническим требованиям.
            Мы предлагаем своим клиентам только качественный материал,
            причем по вполне доступным ценам. Стоимость металлопроката,
            напрямую зависит от марки товара и объема заказа,
            о чем Вам подробно могут рассказать наши консультанты.
        </div>
    </div>
</section>