<section class="advantages">
    <span class="heading">Преимущества</span>
    <span class="hint"></span>
    <div class="advantages-kinds">
        <div class="advantage-block">
            <div class="advantage-image-block">
                <div class="image clock"></div>
            </div>
            <div class="advantage-desc">
                Занимаемся поставками
                    металлопроката более
                    10 лет
            </div>
        </div>
        <div class="advantage-block">
            <div class="advantage-image-block ">
                <div class="image money"></div>
            </div>
            <div class="advantage-desc">Самые низкие цены
                на имеющуюся металлопродукцию
                на рынке
            </div>
        </div>
        <div class="advantage-block">
            <div class="advantage-image-block ">
                <div class="image forklift"></div>
            </div>
            <div class="advantage-desc">Осуществляем доставку приобретенной
                вами продукции
            </div>
        </div>

    </div>
    <div class="advantages-kinds">
        <div class="advantage-block">
            <div class="advantage-image-block ">
                <div class="image moneybox"></div>
            </div>
            <div class="advantage-desc">Только самые выгодные условия покупки
                металлопроката
            </div>
        </div>
        <div class="advantage-block">
            <div class="advantage-image-block ">
                <div class="image flag"></div>
            </div>
            <div class="advantage-desc">Один из крупнейших поставщиков
                металлопроката
                на рынок Беларуси
            </div>
        </div>
        <div class="advantage-block">
            <div class="advantage-image-block ">
                <div class="image globe"></div>
            </div>
            <div class="advantage-desc">Сотрудничество с производителями металлопроката
                в СНГ и Европе
            </div>
        </div>

    </div>
</section>