<section class="contacts">
    <div class="phones contact-block">
        <div class="head-contacts">Контакты</div>
        <div class="desc">
            <div>8 (017) 219-48-48</div>
            <div>8 (029) 615-57-51 (vel)</div>
            <div>8 (029) 558-78-59 (mts)</div>
        </div>
    </div>
    <div class="address contact-block">
        <div class="head-contacts">Где мы находимся</div>
        <div class="desc">
                <div>Минск,</div>
           <div> Ул. Кальварийская, 1</div>
            <div>офис 605</div>
        </div>
    </div>
    <div class="email contact-block">
        <div class="head-contacts">Пишите нам</div>
        <div class="desc">Интересующие вопросы отправляйте на адрес:
            sort_inv@mail.ru
        </div>
    </div>
</section>