<section class="howTo">
    <span class="heading">Как купить металл?</span>
    <span class="hint">3 простых шага для покупки металла </span>
    <div class="steps">
        <div class="step">
            <div class="circle">1</div>
            <span class="title">Связь с менеджером</span>
            <span class="description">In rutrum feugiat arcu, sit amet placerat ante rhoncus.</span>
        </div>
        <div class="step">
            <div class="circle">2</div>
            <span class="title">Оплата счета</span>
            <span class="description">In rutrum feugiat arcu, sit amet placerat ante rhoncus.</span>
        </div>
        <div class="step">
            <div class="circle">3</div>
            <span class="title">Самовывоз</span>
            <span class="description">In rutrum feugiat arcu, sit amet placerat ante rhoncus.</span>
        </div>
    </div>
</section>