<section class="info">
    <img src="img/info-img.png">
    <div class="some-info">
        <div class="block">
            <div class="title">
                <img src="img/golden_people.png">
                <div>Для кого и как</div>
            </div>
            <div class="text">Для нас важен каждый клиент, а в особенности наши постоянные партнеры.
                Главная задача для нас — чтобы Вы, обратившись раз, стали нашим партнером
                на долгое время. Именно поэтому мы выстраиваем отношения с перспективой
                долгосрочного сотрудничества.
            </div>
        </div>
        <div class="block">
            <div class="title">
                <img src="img/golden_map.png">
                <div>Где и куда</div>
            </div>
            <div class="text">Для нас важен каждый клиент, а в особенности наши постоянные партнеры.
                Главная задача для нас — чтобы Вы, обратившись раз, стали нашим партнером
                на долгое время. Именно поэтому мы выстраиваем отношения с перспективой
                долгосрочного сотрудничества.
            </div>
        </div>
        <div class="block">
            <div class="title">
                <img src="img/golden_threepoint.png">
                <div>Не только продаем</div>
            </div>
            <div class="text">Для нас важен каждый клиент, а в особенности наши постоянные партнеры.
                Главная задача для нас — чтобы Вы, обратившись раз, стали нашим партнером
                на долгое время. Именно поэтому мы выстраиваем отношения с перспективой
                долгосрочного сотрудничества.
            </div>
        </div>
        <div class="block">
            <div class="title">
                <img src="img/golden_hat.png">
                <div>Учимся и развиваемся</div>
            </div>
            <div class="text">Для нас важен каждый клиент, а в особенности наши постоянные партнеры.
                Главная задача для нас — чтобы Вы, обратившись раз, стали нашим партнером
                на долгое время. Именно поэтому мы выстраиваем отношения с перспективой
                долгосрочного сотрудничества.
            </div>
        </div>
    </div>
</section>