<section class="offer">
    <span class="heading">Наше предложение</span>
    <span class="hint">С ассортиментом нашей продукции вы можете ознакомиться в прайс листе на металлопрокат,
и скачать в удобном формате</span>
    <div class="advantages-kinds">
        <div class="advantage-block">
            <div class="advantage-image-block">
                <div class="image pdf"></div>
            </div>
            <div class="advantage-desc">
                ГОСТЫ сталей
            </div>

            <div class="download-offer"><a>скачать</a></div>
        </div>
        <div class="advantage-block">
            <div class="advantage-image-block ">
                <div class="image pdf"></div>
            </div>
            <div class="advantage-desc">Прайс-лист ЗАО “Сортамент Инвест”
            </div>
            <div class="download-offer">
                <a>скачать</a></div>
        </div>
        <div class="advantage-block">
            <div class="advantage-image-block ">
                <div class="image pdf"></div>
            </div>
            <div class="advantage-desc map-block">Схема проезда
                на склад
            </div>
            <div class="download-offer">
                <a>скачать</a>
            </div>
        </div>

    </div>
</section>