<section class="types">
    <span class="heading">Виды проката</span>
    <span class="hint">Выберите интересующий вас вид проката</span>
    <div class="kinds">
        <div class="kind list">
            <div class="layer-top">
                <span class="title">Листовой</span>
            </div>
        </div>
        <div class="kind sort">
            <div class="layer-top">
                <span class="title">Сортовой</span>
            </div>
        </div>
        <div class="kind fas">
            <div class="layer-top">
                <span class="title">Фасонный</span>
            </div>
        </div>
    </div>
</section>